
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #333;
    border: 1px solid #444;
  }
  
  table, th, td {
    border: none;
    color: white;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  tr:nth-child(odd) {
    background-color: #444;
  }
  
  .actions a {
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
  }
  
  .actions a:hover {
    background-color: #007bff;
  }
  
  .new-book-button {
    display: block;
    margin-top: 20px;
    text-align: right;
  }
  
  .new-book-button a {
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
    border-radius: 4px;
  }
  
  .new-book-button a:hover {
    background-color: #1e7e34;
  }
  